In [1]:
from hltvApi import HltvApi

# HLTV Api Code examples
This package can be used to scrape the HLTV website and retrieve professional CS:GO match data in an user-readable format. The following examples will show what can be done, and how to do it.
### Request Top 30 Ranked Team Id's

In [9]:
# Create an HltvApi instance to make and process requests
bot = HltvApi()

# Get the team id for the top 30 ranked
ids = bot.get_teamids()

# Show the top 5 team id's
ids[:5]

['6667', '4608', '5973', '6665', '7718']

### Request last played matches in the database and for a specified team

In [10]:
# Retrieve last 100 matches for the tenth ranked team
# Matches limit is set to 100 by default, if False, all historical matches are retrieved
matches = bot.get_matches_teamid(ids[10], limit=100)

matches[:2]

[(2357750, '/matches/2357750/cloud9-vs-liquid-esl-pro-league-season-16'),
 (2357750, '/matches/2357750/cloud9-vs-liquid-esl-pro-league-season-16')]

### Request match information

In [11]:
# Retrieve last match information in raw dictionary format
match = bot.request_match_info(matches[0])

# However, match contains raw information and therefore, hard to read. Dataframe methods are used to process data into a pandas DataFrame readable format:
bot.maps_dataframe(match)

,mapId,matchId,t1_id,t1_name,t2_id,t2_name,map,t1_result,t2_result,t1_ct_score,t1_t_score,t2_ct_score,t2_t_score,winner,overtime,picked_by
0,144287,2357750,5752,Cloud9,5973,Liquid,Inferno,10,16,7,3,8,8,Liquid,False,2
1,144307,2357750,5752,Cloud9,5973,Liquid,Overpass,17,19,7,8,8,7,Liquid,True,1

### Processing data from multiple matches

In [12]:
# Store data from multiple matches in a list for further processing
raw_data = []
for match in matches[:10]:
    raw_data.append(bot.request_match_info(match))

# DataFrame methods also allow for a list with match dictionaries as an argument:
bot.match_dataframe(raw_data)

,match_id,date,t1_id,t1_name,t2_id,t2_name,t1_score,t2_score,winner,event_id,event_name,instance,best_of,lan
0,2357750,2022-09-25 19:30:00,5752,Cloud9,5973,Liquid,0,2,Liquid,6141,esl-pro-league-season-16,Group D,3,1
1,2357750,2022-09-25 19:30:00,5752,Cloud9,5973,Liquid,0,2,Liquid,6141,esl-pro-league-season-16,Group D,3,1
2,2357749,2022-09-24 19:30:00,5752,Cloud9,8297,FURIA,2,0,Cloud9,6141,esl-pro-league-season-16,Group D,3,1
3,2357744,2022-09-23 12:30:00,5752,Cloud9,7718,Movistar Riders,2,0,Cloud9,6141,esl-pro-league-season-16,Group D,3,1
4,2357741,2022-09-22 12:30:00,5752,Cloud9,11251,Eternal Fire,2,0,Cloud9,6141,esl-pro-league-season-16,Group D,3,1
5,2357738,2022-09-21 12:30:00,5752,Cloud9,10399,Evil Geniuses,2,0,Cloud9,6141,esl-pro-league-season-16,Group D,3,1
6,2357142,2022-07-10 12:30:00,5973,Liquid,5752,Cloud9,2,0,Liquid,6140,iem-cologne-2022,Group B lower bracket semi-final,3,1
7,2357139,2022-07-09 16:00:00,5752,Cloud9,6665,Astralis,0,2,Astralis,6140,iem-cologne-2022,Group B upper bracket semi-final,3,1
8,2357128,2022-07-07 20:00:00,5752,Cloud9,11595,Outsiders,2,0,Cloud9,6140,iem-cologne-2022,Group B upper bracket quarter-final,3,1
9,2356889,2022-06-29 15:00:00,7532,BIG,5752,Cloud9,2,0,BIG,6510,roobet-cup-2022,Semi-final,3,0

In [13]:
# And with the map data:
bot.maps_dataframe(raw_data).head()

,mapId,matchId,t1_id,t1_name,t2_id,t2_name,map,t1_result,t2_result,t1_ct_score,t1_t_score,t2_ct_score,t2_t_score,winner,overtime,picked_by
0,144287,2357750,5752,Cloud9,5973,Liquid,Inferno,10,16,7,3,8,8,Liquid,False,2
1,144307,2357750,5752,Cloud9,5973,Liquid,Overpass,17,19,7,8,8,7,Liquid,True,1
2,144287,2357750,5752,Cloud9,5973,Liquid,Inferno,10,16,7,3,8,8,Liquid,False,2
3,144307,2357750,5752,Cloud9,5973,Liquid,Overpass,17,19,7,8,8,7,Liquid,True,1
4,144198,2357749,5752,Cloud9,8297,FURIA,Mirage,16,8,10,6,5,3,Cloud9,False,2

### Requesting information for a specific team
We can search for a team in the HLTV webpage and request match data for that specific team. For example, lets fetch the last 10 matches for Team "9z", from Argentina.

In [14]:
# Request last 10 matches:
matches = bot.get_matches_teamid(9996, limit=10)

# Request data in loop and store 
raw_data = []
for match in matches[:10]:
    raw_data.append(bot.request_match_info(match))

# DataFrame methods also allow for a list with match dictionaries as an argument:
bot.match_dataframe(raw_data)

[(2358963,
  '/matches/2358963/9z-vs-fluxo-fireleague-latin-power-fall-2022-blast-premier-qualifier'),
 (2358941,
  '/matches/2358941/9z-vs-furious-fireleague-latin-power-fall-2022-blast-premier-qualifier'),
 (2358905,
  '/matches/2358905/9z-vs-fluxo-fireleague-latin-power-fall-2022-blast-premier-qualifier'),
 (2358603,
  '/matches/2358603/9z-vs-mad-kings-fireleague-latin-power-fall-2022-blast-premier-qualifier'),
 (2358278, '/matches/2358278/9z-vs-pain-cct-south-america-series-1'),
 (2358257, '/matches/2358257/arctic-vs-9z-cct-south-america-series-1'),
 (2358238, '/matches/2358238/9z-vs-stars-horizon-cct-south-america-series-1'),
 (2358009,
  '/matches/2358009/9z-vs-o-plano-iem-road-to-rio-2022-south-america-open-qualifier-2'),
 (2358007,
  '/matches/2358007/case-vs-9z-iem-road-to-rio-2022-south-america-open-qualifier-2'),
 (2358003,
  '/matches/2358003/9z-vs-b4-iem-road-to-rio-2022-south-america-open-qualifier-2')]